{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='title' value='{{title}}' />
            <span class="error">{{title_error}}</span>
        </label>

        <label>
            Your new blog:
            <input type="text" name='body'value='{{body}}'/>
            <span class="error">{{body_error}}</span>
        </label>

        <input type="submit" value='Add new entry'/>





{% endblock %}